.missing-times-item, .next-event-item {
    p {
        margin: 0;
        width: auto;
        display: inline;
        &:nth-last-child(1n+2) {
    		&:after{
    			content: " | "
    		}
		}
    }
}

.missing-times-item{
	&.approved{
		color: $light-green;
	}
	&.pending{
		color: $red;
	}
}

.content-wrapper{
    .center-text{
        text-align: center;
    }
}
