.dashboard-item{
  background-color: $light-cyan;
  min-height: 175px;
  max-height: 175px;
  overflow: overlay;
  margin-right: 10px;
}

select{
  background-color: $dark-orange;
  border: 1px solid $dark-orange;
  color: $text-color;
}
