.color-red {
		background-color: $red;
}

.color-blue {
		background-color: $dark-blue;
}

.color-orange {
		background-color: $dark-orange;
}

.color-yellow {
		background-color: $yellow;
}

.color-gray {
		background-color: $light-gray;
}

.color-pink {
		background-color: $pink;
}

.color-lila {
		background-color: $purple;
}

.color-random {
		background-color: $dark-blue;
}

.remove-left-padding{
	padding-left: 0;
}
