.navbar-wrapper {
    padding-left: 0;
    padding-right: 0;
    background-color: $navi-background-color;
    color: $text-color;

    .user-info {
        display: flex;
        align-items: center;
        border-bottom: 3px solid $navi-border-color;
        padding-bottom: 10px;
        padding-top: 10px;

        #user-image {
            max-width: 75px;
        }

        .user-text {
            p {
                margin: 0 0 0 10px;
            }
        }
    }

    .navbar-fixed-side {
        border: none;
        border-radius: 0;
        height: 100vh;
        margin-bottom: 0;
        background-color: $navi-background-color;

        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;

            li {
                padding-bottom: 15px;
                padding-top: 15px;
                padding-left: 20px;
                border-bottom: 3px solid $navi-border-color;
                position: relative;

                &.active {
                    color: $active-item;

                    &:after {
                        font-family: "font-awesome";
                        content: "\f104";
                        position: absolute;
                        bottom: 5px;
                        right: 0;
                        font-size: 25px;
                    }
                }

                &:hover {
                    text-decoration: none;
                    color: $link-hover;
                    cursor: pointer;
                }
            }
        }
    }
}

.sk-circle {
    margin: 100px auto;
    width: 150px;
    height: 150px;
    position: relative;;
    z-index: 6;

    .sk-child {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        &:before {
            content: '';
            display: block;
            margin: 0 auto;
            width: 15%;
            height: 15%;
            background-color: $loading-circle;
            border-radius: 100%;
            -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
        }
    }

    .sk-circle2 {
        @include transform-rotate($circle-rotation-2);

        &:before {
            @include animation-delay($circle-speed-2);
        }
    }

    .sk-circle3 {
        @include transform-rotate($circle-rotation-3);

        &:before {
            @include animation-delay($circle-speed-3);
        }
    }

    .sk-circle4 {
        @include transform-rotate($circle-rotation-4);

        &:before {
            @include animation-delay($circle-speed-4);
        }
    }

    .sk-circle5 {
        @include transform-rotate($circle-rotation-5);

        &:before {
            @include animation-delay($circle-speed-5);
        }
    }

    .sk-circle6 {
        @include transform-rotate($circle-rotation-6);

        &:before {
            @include animation-delay($circle-speed-6);
        }
    }

    .sk-circle7 {
        @include transform-rotate($circle-rotation-7);

        &:before {
            @include animation-delay($circle-speed-7);
        }
    }

    .sk-circle8 {
        @include transform-rotate($circle-rotation-8);

        &:before {
            @include animation-delay($circle-speed-8);
        }
    }

    .sk-circle9 {
        @include transform-rotate($circle-rotation-9);

        &:before {
            @include animation-delay($circle-speed-9);
        }
    }

    .sk-circle10 {
        @include transform-rotate($circle-rotation-10);

        &:before {
            @include animation-delay($circle-speed-10);
        }
    }

    .sk-circle11 {
        @include transform-rotate($circle-rotation-11);

        &:before {
            @include animation-delay($circle-speed-11);
        }
    }

    .sk-circle12 {
        @include transform-rotate($circle-rotation-12);

        &:before {
            @include animation-delay($circle-speed-12);
        }
    }
}
@-webkit-keyframes sk-circleBounceDelay {
    0%,
    100%,
    80% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes sk-circleBounceDelay {
    0%,
    100%,
    80% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
