$text-color: #ffffff;
$dark-blue: #344146;
$dark-orange: #F1654C;
$light-cyan: #00B5B5;
$light-gray: #D4D4D4;

$navi-border-color: #F7F3F3;
$navi-background-color: #333333;
$active-item: #FD3D40;
$link-hover: #EB2D30;
